body{
    background: #f4f1de;
    margin: 0 auto;
    width: 50%;
    font-family: 'Montserrat', sans-serif;
    overflow-y: hidden;
}

form{
    background: white;
    padding: 0 10%;
}

h1{
    text-align: center;
}

#submit{
    background-color: #5bc0de;
    border: 1px solid #5bc0de;
    font-weight: bold;
    text-transform: uppercase;
}

#submit:hover{
    background-color: #0275d8;
    border: 1px solid #0275d8;
}

input{
    margin-left: 10px;
    border: 1px solid #666;
    border-radius: 2px;
}

select{
    margin-left: 10px;
    border: 1px solid #666;
    border-radius: 2px;
}

#county{
    width: 25%;
}

h2{
    text-align: center;
    height: 100vh;
}

#usernameError{
    color: red;
}

#passwordAgainError{
    color: red;
}

#zipError{
    color: red;
}