body{
    background: lightgray;
    margin: 0 auto;
    width: 50%;
}

form{
    line-height: 2;
    background: white;
    padding: 5% 10%;
}

h1{
    text-align: center;
}

#submit{
    border-radius: 5px;
    background-color: blue;
}